*{padding: 0; margin: 0;}
ul{list-style: none;}
a{text-decoration: none;}

header{
    background-color: rgb(51, 50, 54);
    width: 100%;
    /*자식 요소들의 배치를 absolute를 사용할때 기준점을 부모요소로 하려면 static 아니면 됨*/
    position: relative;
    height: 95px;
}

#logo{
    position: absolute;
    top: 30px;
    left: 30px;
}

#top_menu{
    position: absolute;
    top: 20px;
    right: 60px;
    color: white;
}

#top_menu a{color: white;}

nav{
    position: absolute;
    bottom: 10px;
    right: 30px;
}

nav li{
    display: inline;
    margin-right: 30px;
}

nav li a{color: white;}

#main img{
    width: 100%;
}

#banner ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

}
#banner li{
    flex: 1;
    max-width: 500px;
    list-style: none;
    text-align: center;
}

#banner img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer{
    margin-top: 20px;
    text-align: center;
    background-color: #f1f1f1;
}
