/* 전체 요소의 마진과 패딩 제거 */
*{
    margin: 0px;
    padding: 0px;
}

/* 전체의 기본 글씨 기준사이즈 10px .. 1.4rem(루트엘리먼트)이며 14px.... */
html{
    font-size: 10px;
} 

/* 리스트의 블릿기호를 제거 */
ul{list-style: none;}

/* anchor요소의 언더라인 제거 */
a{
    text-decoration: none;
    color: inherit;  /* 인허리트: 부모요소의 색상을 그대로 상속받는 속성값 */
}

/* 게시판의 목록, 글 작성, 상세보기글, 수정 페이지 모두에서 공통으로 사용하는 스타일 적용 */

/* 게시판 페이지의 콘텐츠가 표시될 영역 너비, 가운데 정렬 */
.board_wrap{
    width: 860px;
    margin: 100px auto;
}

/* 게시판 제목 영역 스타일링 */
.board_title{
    margin-bottom: 30px;
}

/* 제목 글씨 사이즈 */
.board_title h2{
    font-size: 3rem;
}
/* 제목 영역의 안내글씨 사이즈 */
.board_title p{
    font-size: 1.4rem;
    margin-top: 1rem;
}

/* 여러페이지에서 새글쓰기, 수정/목록 버튼들이 표시되는 영역  */
.btn_wrap{
    margin-top: 30px;
    text-align: center;
}

.btn_wrap a{
    display: inline-block;
    min-width: 80px;
    border: 1px solid black;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    border-radius: 4px;
    /* 버튼이 2개 이상이면 사이 간격을 주기 위해  */
    margin-left: 10px;
}

/* 단, 첫번째 버튼은 왼쪽 마진이 없도록..  */
.btn_wrap a:first-child{
    margin-left: 0px;
}