/* 공통 스타일 시트를 import 해오기 */
@import url('./common.css');

/* 공통 스타일 제외한 목록 페이지 만의 스타일 */

/* 2.1 테이블 영역 */
.board_list{
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    /* 아래 tr 의 선이 그려지도록.. */
    border-collapse: collapse;
}

/* 테이블의 tr요소의 아래 경계선 그리기 */
.board_list tr{
    border-bottom: 1px solid #dddddd; /*그냥은 안그려짐. table요소에 [border-coallapse:collape]를 적용해야함. 안하면 칸별로 선이 그려져야 하기에 tr선이 무시됨*/
}

/* 각 칸별 스타일 */
.board_list th, td{
    padding: 1rem 0px;
    text-align: center;
    font-size: 1.4rem;
}

/* 각 칸별 너비 지정 */
.col_no{width: 10%;}
.col_title{width: 60%; text-align: left;}
.col_writer{width: 10%;}
.col_date{width: 10%;}
.col_hits{width: 10%;}

/* 2.2 페이지 네이션 영역 */
.board_pagination{
    text-align: center;
    margin-top: 30px;
}

/* anchor를 버튼 모양으로 스타일 */
.btn{
    display: inline-block;
    width: 3.2rem;
    padding: 1rem 0px;
    border: 1px solid #dddddd;
    font-size: 1.4rem;
}

/* 선택된 버튼에 적용될 스타일 */
.selected{
    background-color: black;
    border-color: black;
    color: white;
}